Observatory-BackEnd/BPMServiceTest/Project1/businessCatalog/MyTipes/Manufacturer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1.7.0.0.8" build="0.8" fullName="MyTipes.Manufacturer" modifiers="268435456"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/MyTipes/Manufacturer" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/bpm/bpmobject/MyTipes/Manufacturer"  xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="ManufacturerType">
        <xs:sequence>
            <xs:element name="name" nillable="true" type="xs:string"/>
            <xs:element name="id" nillable="true" type="xs:int"/>
            <xs:element name="tot_medicins" nillable="true" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Manufacturer" type="ManufacturerType"/>
</xs:schema>
