Observatory-BackEnd/BPMServiceTest/Project1/businessCatalog/MyTipes/Medicine.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1.7.0.0.8" build="0.8" fullName="MyTipes.Medicine" modifiers="0"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/MyTipes/Medicine" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/MyTipes/Medicine"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="MedicineType">
        <xs:sequence>
            <xs:element name="name" nillable="true" type="xs:string"/>
            <xs:element name="invima_code" nillable="true" type="xs:string"/>
            <xs:element name="record" nillable="true" type="xs:int"/>
            <xs:element name="unit" nillable="true" type="xs:string"/>
            <xs:element name="atc" nillable="true" type="xs:string"/>
            <xs:element name="atc_description" nillable="true" type="xs:string"/>
            <xs:element name="administration" nillable="true" type="xs:string"/>
            <xs:element name="active_principle" nillable="true" type="xs:string"/>
            <xs:element name="pharmaceutical_form" nillable="true" type="xs:string"/>
            <xs:element name="manufacturer" nillable="true" type="xs:string"/>
            <xs:element name="drugstore_id" nillable="true" type="xs:int"/>
            <xs:element name="commercial_price" nillable="true" type="xs:double"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Medicine" type="MedicineType"/>
</xs:schema>
