Observatory-BackEnd/BPMServiceTest/Project1/businessCatalog/MyTipes/SetOfDrugstoreMedicines.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1.7.0.0.8" build="0.8" fullName="MyTipes.SetOfDrugstoreMedicines" modifiers="0"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/MyTipes/SetOfDrugstoreMedicines" elementFormDefault="qualified" xmlns:ns1="http://xmlns.oracle.com/bpm/bpmobject/MyTipes/DrugstoreMedicines"  xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/MyTipes/SetOfDrugstoreMedicines"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:import namespace="http://xmlns.oracle.com/bpm/bpmobject/MyTipes/DrugstoreMedicines" schemaLocation="DrugstoreMedicines.xsd"/>
    <xs:complexType name="SetOfDrugstoreMedicinesType">
        <xs:sequence>
            <xs:element name="drugstore_medicines_list" nillable="true" type="ns1:DrugstoreMedicinesType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="SetOfDrugstoreMedicines" type="SetOfDrugstoreMedicinesType"/>
</xs:schema>
