Observatory-BackEnd/BPMServiceTest/Project1/businessCatalog/MyTipes/SetOfManufacturers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1.7.0.0.8" build="0.8" fullName="MyTipes.SetOfManufacturers" modifiers="0"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/MyTipes/SetOfManufacturers" elementFormDefault="qualified" xmlns:ns1="http://xmlns.oracle.com/bpm/bpmobject/MyTipes/Manufacturer"  xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/MyTipes/SetOfManufacturers"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:import namespace="http://xmlns.oracle.com/bpm/bpmobject/MyTipes/Manufacturer" schemaLocation="Manufacturer.xsd"/>
    <xs:complexType name="SetOfManufacturersType">
        <xs:sequence>
            <xs:element name="manufacturers" nillable="true" type="ns1:ManufacturerType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="SetOfManufacturers" type="SetOfManufacturersType"/>
</xs:schema>
