Observatory-BackEnd/BPMServiceTest/Project1/businessCatalog/MyTipes/SetOfDrugstores.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1.7.0.0.8" build="0.8" fullName="MyTipes.SetOfDrugstores" modifiers="268435456"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/MyTipes/SetOfDrugstores" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:ns1="http://xmlns.oracle.com/bpm/bpmobject/MyTipes/Drugstore"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/MyTipes/SetOfDrugstores"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:import namespace="http://xmlns.oracle.com/bpm/bpmobject/MyTipes/Drugstore" schemaLocation="Drugstore.xsd"/>
    <xs:complexType name="SetOfDrugstoresType">
        <xs:sequence>
            <xs:element name="drugstores" nillable="true" type="ns1:DrugstoreType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="SetOfDrugstores" type="SetOfDrugstoresType"/>
</xs:schema>
