Observatory-BackEnd/BPMServiceTest/Project1/DrugstoreLogIn.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<wsdl:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/DrugstoreLogIn" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"  xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/DrugstoreLogIn"  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" >
    <wsdl:types>
        <xsd:schema targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/DrugstoreLogIn">
            <xsd:element name="start">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="username" type="xsd:string"/>
                        <xsd:element name="password" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="startResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="drugstore_id" type="xsd:int"/>
                        <xsd:element name="owner_name" type="xsd:string"/>
                        <xsd:element name="owner_id" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="start">
        <wsdl:part name="parameters" element="tns:start"/>
    </wsdl:message>
    <wsdl:message name="startResponse">
        <wsdl:part name="parameters" element="tns:startResponse"/>
    </wsdl:message>
    <wsdl:portType name="DrugstoreLogInPortType">
        <wsdl:operation name="start">
            <wsdl:input message="tns:start"/>
            <wsdl:output message="tns:startResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <plnk:partnerLinkType name="DrugstoreLogInPortTypePartnerLinkType">
        <plnk:role name="DrugstoreLogInPortTypeProvider">
            <plnk:portType name="tns:DrugstoreLogInPortType"/>
        </plnk:role>
    </plnk:partnerLinkType>
</wsdl:definitions>
