Observatory-BackEnd/BPMServiceTest/Project1/FindMedicine.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<wsdl:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/FindMedicine" xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/FindMedicine"  xmlns:tns7="http://xmlns.oracle.com/bpm/bpmobject/MyTipes/SetOfMedicines"  xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"  xmlns:tns6="http://xmlns.oracle.com/bpm/bpmobject/MyTipes/SetOfDrugstores" >
    <wsdl:types>
        <xsd:schema targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/FindMedicine">
            <xsd:import namespace="http://xmlns.oracle.com/bpm/bpmobject/MyTipes/SetOfDrugstores" schemaLocation="http://soabpm-vm.site:7001/BPM_SERVICES/FindNearestDrugstore_BPM_Service/FindNearestDrugstore_Proxy?SCHEMA%2FBPM_SERVICES%2FFindNearestDrugstore_BPM_Service%2FXMLSchema_-1309485453"/>
            <xsd:import namespace="http://xmlns.oracle.com/bpm/bpmobject/MyTipes/SetOfMedicines" schemaLocation="OsbWsdlRoutingGetMedicines_Proxy_SCHEMA_2FOTHER_SERVICES_2FRoutingMedicineSearch_2FXMLSchema_308386546.xsd"/>
            <xsd:element name="start">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="user_latitude" type="xsd:double"/>
                        <xsd:element name="user_longitude" type="xsd:double"/>
                        <xsd:element name="user_ratio_search" type="xsd:double"/>
                        <xsd:element name="user_medicine_name" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="startResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns6:SetOfDrugstores"/>
                        <xsd:element ref="tns7:SetOfMedicines"/>
                        <xsd:element name="message_code" type="xsd:int"/>
                        <xsd:element name="message" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="start">
        <wsdl:part name="parameters" element="tns:start"/>
    </wsdl:message>
    <wsdl:message name="startResponse">
        <wsdl:part name="parameters" element="tns:startResponse"/>
    </wsdl:message>
    <wsdl:portType name="FindMedicinePortType">
        <wsdl:operation name="start">
            <wsdl:input message="tns:start"/>
            <wsdl:output message="tns:startResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <plnk:partnerLinkType name="FindMedicinePortTypePartnerLinkType">
        <plnk:role name="FindMedicinePortTypeProvider">
            <plnk:portType name="tns:FindMedicinePortType"/>
        </plnk:role>
    </plnk:partnerLinkType>
</wsdl:definitions>
