Observatory-BackEnd/BPMServiceTest/Project1/RecommendGeneric.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<wsdl:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/RecommendGeneric" xmlns:tns7="http://xmlns.oracle.com/bpm/bpmobject/MyTipes/SetOfMedicines"  xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/RecommendGeneric"  xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"  xmlns:tns6="http://xmlns.oracle.com/bpm/bpmobject/MyTipes/SetOfManufacturers" >
    <wsdl:types>
        <xsd:schema targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/RecommendGeneric">
            <xsd:import namespace="http://xmlns.oracle.com/bpm/bpmobject/MyTipes/SetOfManufacturers" schemaLocation="businessCatalog/MyTipes/SetOfManufacturers.xsd"/>
            <xsd:import namespace="http://xmlns.oracle.com/bpm/bpmobject/MyTipes/SetOfMedicines" schemaLocation="http://soabpm-vm.site:7001/OTHER_SERVICES/RoutingMedicineSearch/OSB_GetMedicine2_Proxy?SCHEMA%2FOTHER_SERVICES%2FRoutingMedicineSearch%2FXMLSchema_1000039831"/>
            <xsd:element name="start">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="active_component" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="startResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns6:SetOfManufacturers"/>
                        <xsd:element ref="tns7:SetOfMedicines"/>
                        <xsd:element name="response_code" type="xsd:int"/>
                        <xsd:element name="response_message" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="start">
        <wsdl:part name="parameters" element="tns:start"/>
    </wsdl:message>
    <wsdl:message name="startResponse">
        <wsdl:part name="parameters" element="tns:startResponse"/>
    </wsdl:message>
    <wsdl:portType name="RecommendGenericPortType">
        <wsdl:operation name="start">
            <wsdl:input message="tns:start"/>
            <wsdl:output message="tns:startResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <plnk:partnerLinkType name="RecommendGenericPortTypePartnerLinkType">
        <plnk:role name="RecommendGenericPortTypeProvider">
            <plnk:portType name="tns:RecommendGenericPortType"/>
        </plnk:role>
    </plnk:partnerLinkType>
</wsdl:definitions>
