Observatory-BackEnd/Adapters/BDAdapter/Drugstore3_Proxy_SCHEMA_2FOSB_DB_ADAPTERS_2FDrugstore3_ADAPTER_2FXMLSchema_2105222296.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xs:schema version="1.0" targetNamespace="http://ws/" xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="getMedicinesName" type="tns:getMedicinesName"/>
    <xs:element name="getMedicinesNameResponse" type="tns:getMedicinesNameResponse"/>
    <xs:element name="hello" type="tns:hello"/>
    <xs:element name="helloResponse" type="tns:helloResponse"/>
    <xs:element name="medicine" type="tns:medicine"/>
    <xs:complexType name="hello">
        <xs:sequence>
            <xs:element name="name" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="helloResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getMedicinesName">
        <xs:sequence>
            <xs:element name="name" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getMedicinesNameResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:medicine" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="medicine">
        <xs:sequence>
            <xs:element name="component" type="xs:string" minOccurs="0"/>
            <xs:element name="id" type="xs:int" minOccurs="0"/>
            <xs:element name="name" type="xs:string" minOccurs="0"/>
            <xs:element name="price" type="xs:double"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. -->
