Observatory-BackEnd/Adapters/BDAdapter/OSB_GetMedicine2_Proxy.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions
    
     targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/OsbWsdlGetMedicines"
     xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:WL5G3N2="http://xmlns.oracle.com/bpmn/bpmnProcess/OsbWsdlGetMedicines"
     xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/"
     xmlns:WL5G3N1="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
    >
    <WL5G3N0:documentation>http://soabpm-vm.site:7001/soa-infra/services/default/WSDL_Creator!1.0/OsbWsdlGetMedicines.wsdl</WL5G3N0:documentation>
    <WL5G3N1:partnerLinkType name="OsbWsdlGetMedicinesPortTypePartnerLinkType">
        <WL5G3N1:role name="OsbWsdlGetMedicinesPortTypeProvider">
            <WL5G3N1:portType name="WL5G3N2:OsbWsdlGetMedicinesPortType"/>
        </WL5G3N1:role>
    </WL5G3N1:partnerLinkType>
    <WL5G3N0:types>
        <xsd:schema targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/OsbWsdlGetMedicines"
             xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/OsbWsdlGetMedicines"
             xmlns:tns6="http://xmlns.oracle.com/bpm/bpmobject/MyTipes/SetOfMedicines" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://xmlns.oracle.com/bpm/bpmobject/MyTipes/SetOfMedicines" schemaLocation="OSB_GetMedicine2_Proxy_SCHEMA_2FOTHER_SERVICES_2FRoutingMedicineSearch_2FXMLSchema_1000039831.xsd"/>
            <xsd:element name="getMedicineResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns6:SetOfMedicines"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getMedicine">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:int"/>
                        <xsd:element name="medicine_name" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </WL5G3N0:types>
    <WL5G3N0:message name="getMedicine">
        <WL5G3N0:part name="parameters" element="WL5G3N2:getMedicine"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="getMedicineResponse">
        <WL5G3N0:part name="parameters" element="WL5G3N2:getMedicineResponse"/>
    </WL5G3N0:message>
    <WL5G3N0:portType name="OsbWsdlGetMedicinesPortType">
        <WL5G3N0:operation name="getMedicine">
            <WL5G3N0:input message="WL5G3N2:getMedicine"/>
            <WL5G3N0:output message="WL5G3N2:getMedicineResponse"/>
        </WL5G3N0:operation>
    </WL5G3N0:portType>
    <WL5G3N0:binding name="OsbWsdlGetMedicinesBinding" type="WL5G3N2:OsbWsdlGetMedicinesPortType">
        <WL5G3N3:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <WL5G3N0:operation name="getMedicine">
            <WL5G3N3:operation style="document" soapAction="getMedicine"/>
            <WL5G3N0:input>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:input>
            <WL5G3N0:output>
                <WL5G3N3:body use="literal"/>
            </WL5G3N0:output>
        </WL5G3N0:operation>
    </WL5G3N0:binding>
    <WL5G3N0:service name="OsbWsdlGetMedicines.service">
        <WL5G3N0:port name="OsbWsdlGetMedicinesPort" binding="WL5G3N2:OsbWsdlGetMedicinesBinding">
            <WL5G3N3:address location="http://localhost:7001/OTHER_SERVICES/RoutingMedicineSearch/OSB_GetMedicine2_Proxy"/>
        </WL5G3N0:port>
    </WL5G3N0:service>
</WL5G3N0:definitions>
